<div class="hero-section">
  <div class="icon-container">
    <a [routerLink]="['/listado']" routerLinkActive="active" class="icon-box">
      <fa-icon [icon]="faDog" class="pet-icon dog-icon"></fa-icon>
      <p class="icon-label">Perros</p>
    </a>

    <div class="separator"></div>

    <a [routerLink]="['/listado']" routerLinkActive="active" class="icon-box">
      <fa-icon [icon]="faCat" class="pet-icon cat-icon"></fa-icon>
      <p class="icon-label">Gatos</p>
    </a>
  </div>
</div>
<app-map></app-map>