.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* Centra verticalmente en la vista */
    background-color: #f5f5f5;
    gap:5rem;
    /* Fondo suave */
}

.login-card {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-image mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.full-width {
    width: 100%;
    /* Añadimos un margen inferior para separar cada campo del siguiente */
    margin-bottom: 20px;
    /* Puedes ajustar este valor (ej. 15px, 25px) */
}

.submit-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link-text {
    font-size: 0.9em;
    color: var(--mat-primary-text-color)
    }